<%- layout('layouts/boilerplate2') %>
<%- include('../partials/navbar2') %>
<%- include('../partials/flash') %>
<div class="container">
        <h1 class="text-center my-4 bg-secondary bg-gradient p-2 shadow-lg text-white border-rounded">Profile</h1>
        <div class="row" id="Profilediv">
            <div class="col" style="display: flex;
            flex-direction: column;">
                <% if(!user.profilepic){ %>
                    <img id="profilepic" src="https://www.pngfind.com/pngs/m/470-4703547_icon-user-icon-hd-png-download.png" alt="Profilepic"  class="mx-auto  d-block my-3   rounded ">
                    <% if(Curruser.username == user.username){ %>
                    <div class="my-4 p-2">
                        <a href="/users/addpic">Add Profile Picture</a>   
                    </div>
                    <% } %>
                <% } %>
                <% if(user.profilepic){ %>
                    <img id="profilepic" src="<%= user.profilepic %>" alt="Profilepic"  class="mx-auto   my-auto  rounded ">
                <% } %>


                <% if(Curruser.username == user.username && user.profilepic) {%>
                    <div style="display: flex;flex-direction: row;justify-content: center;">
                        <div class="my-3 p-2 mx-2" >
                                <a href="/users/addpic">Update Profile Picture</a>     
                        </div>
                        <div class="my-1 p-2">
                            <form action="/users/addpic?_method=DELETE"  method="post">
                                <button class="btn btn-primary my-2 p-2">Remove Profile pic</button>
                            </form>
                        </div>
                    </div>
                <% }%>
                
            </div>
            <div class="col" id="Info">
               <div class="container my-3" style="padding:50px;">
                    <h1 style="font-size: 2.5rem"><%= user.username  %> </h1>
                    <h5 class="text-muted" style="font-size: 1.5rem;padding-left:5%;"><%= user.bio %> </h5>
                    <h5 class="text-muted" style="font-size: 1rem;"> <%= user.email %> </h5>
                </div>
                <ul>
                    <h4 class="my-2 text-primary">Friends: <%= Friends.length  %></h4>
                    <div class="mx-auto">
                        <% if(Curruser.username == user.username) {%>
                        <% for(let friend of Friends){ %>
                            <a class="link-dark" style="display:block" href="/users/<%= friend._id  %>"><%= friend.username  %></a>
                        <% } %>
                   </div>
                    <br>
                    <% } %>
                    <div class="container">
                        <h4 class="my-2">Posts</h4>
                        <% for(let post of user.Posts ){ %>
                            <li><%= post.title  %></li>
                        <% } %>
                        <% if(!user.Posts.length){ %>
                            <li class="text-muted  fw-light">No Posts</li>
                         <% } %>
                        
                    </div>

                    <% if(Curruser.username == user.username){ %>
                        <div class="my-2">
                             <a class="mx-2 my-4" href="/users/edit/<%= user._id  %> ">Update Profile</a>
                        </div>
                    <% } %>
                    
                </ul>
            </div>   
        </div>
</div>
