<%- layout('layouts/boilerplate') %>
<%- include('../partials/navbar2') %>
<%- include('../partials/flash') %>
    <div class="container">
        <h1 class="my-3 text-muted fw-light text-center">Project-KK</h1>
        <div class="container mt-5 border-3">
            <div class="row">
                <div class="col-6 offset-3">
                    <h1 class="mx-auto text-center fs-3  p-2">UPDATE YOUR CREDENTIALS</h1>
                </div>
            </div>
           
            <form action="/users/<%= user._id  %>?_method=PUT"  method="post" class="validated-form" novalidate>
        
                <div class="row">
                    <div style="display:block;"id="inputFields"  class="form-outline mb-4 col-6 offset-3 mx-auto">
                        <label class="form-label" for="Username">Update your Name</label>
                        <input type="text" id="Username" name="User[username]" class="form-control"
                            value="<%= user.username  %>" required />
                    </div>
                </div>
               

                <div class="row">
                    <div style="display:block;" id="inputFields" class="form-outline mb-4 col-6 offset-3 mx-auto">
                        <label class="form-label" for="Email">Update your Email</label>
                        <input type="email" id="Email" name="User[email]" class="form-control" value="<%= user.email  %>" required />
                    </div>
                </div>


                <div class="row">
                    <div style="display:block;"id="inputFields" class="form-outline mb-4 col-6 offset-3 mx-auto">
                        <label class="form-label" for="description">Update your Bio</label>
                        <textarea id="bio" name="User[bio]" class="form-control" 
                            required><%= user.bio  %></textarea>
                    </div>
                </div>
       
                 <button type="submit" style="display:block;" class="btn btn-primary btn-block mb-4 mx-auto">Update</button>
                
                <a class="mx-4" href="/users/<%= user._id  %> ">Back to Profile</a>
        </form>
    </div>
    </div>
    <script src="/js/validateforms.js"></script>
